<div class="container mt-5">
  <div><i class="fa fa-check-circle fa-5x" style="color: lawngreen;"></i></div>
  <h2>Dziękujemy! Twoje zamówienie zostało potwierdzone</h2>
  <p class="mb-4">
    Twoje zamówienie nie zostanie wysłane, bo nie jesteśmy prawdziwym sklepem :C
  </p>
  <button *ngIf="order"
          routerLink="/orders/{{order.id}}"
          class="btn btn-outline-success">
    Pokaż zamówienie
  </button>
  <button *ngIf="!order"
          routerLink="/orders" class="btn btn-outline-success">
    Pokaż zamówienia
  </button>
</div> 
