<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Podsumowanie zamówienia
</div>
<div class="p-4">
  <p class="font-italic mb-4">
    Koszty wysyłkki zostaną naliczone po jej wyborze
  </p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Suma produktów</strong>
      <strong>{{(basketTotal$ | async)?.subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Koszt dostawy</strong>
      <strong>{{(basketTotal$ | async)?.shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Finalny koszt zamówienia</strong>
      <strong>{{(basketTotal$ | async)?.total | currency}}</strong>
    </li>
  </ul>
</div>
