<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <h4>Wybierz opcje dostawy</h4>
  <div class="row ms-5" formGroupName="deliveryForm">
    <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
      <input type="radio"
             class="form-check-input"
             [value]="method.id"
             [id]="method.id"
             (click)="setShippingPrice(method)"
             formControlName="deliveryMethod" />
      <label [for]="method.id" class="form-check-label ms-2 mb-3">
        <strong>{{ method.shortName }} - {{ method.price | currency }}</strong>
        <br />
        <span class="label-description">{{ method.description }}</span>
      </label>
    </div>
  </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Wróć do zmiany danych dostawy
  </button>
  <button class="btn btn-primary" cdkStepperNext>
    Przejdź do podsumowania <i class="fa fa-angle-right"></i>
  </button>
</div>

