<carousel>
  <slide>
    <img src="assets/images/af1.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/aj4.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/adidaswhitet.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Witaj w sklepie Gymfinity!</h1>
  </div>
</section>
